/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Montaga;
    src: url(./assets/fonts/Montaga-Regular.ttf) format("truetype");
    font-weight: normal
}
@font-face {
    font-family: LatoRegular;
    src: url(./assets/fonts/Lato-Regular.ttf) format("truetype");
    font-weight: normal
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.5;
}
p::first-letter {
    font-size: 30px;
    font-weight: bold;
}
p::selection {
    color: black;
    background-color: #cda84f;
}
/* HEADER - NAV - GENERAL */
/* MOBILE */
.nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* Logo */
#nav__mobile-logo {
    width: 75px;
    height: auto;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 100px;
}
/* Titulo Index */
.nav__mobile div h1 {
    color: black;
    font-size: 20px;
    font-family: "Montaga"; 
    text-align: center;
}
.nav__mobile div h2 {
    color: #cda84f;
    font-size: 15px; 
    font-family: "LatoRegular";
    text-align: center;
}
/* Titulo Pages */
.nav__mobile h1 {
    color: black;
    font-size: 20px;
    font-family: "Montaga"; 
    text-align: center;
}
/* Menú */
#nav__mobile-menu {
    width: auto;
    height: 50px;    
}
/* DESKTOP */
.nav__desktop {
    display: none;
    background-color: black;
    border: 3px solid  #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);    
    max-width: 1200px;
    height: 60px;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
}
.nav__desktop-item a {
    color: #cda84f;
    font-family: "LatoRegular";
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.nav__desktop-item:hover {
    
    background-color: #cda84f;
    border-radius: 10px;
    padding: 2px 30px;
}
.nav__desktop-item a:hover {
    content: '\27B3';
    color: black;
    font-weight: bold;
}
.nav__desktop-item a:hover::before {
    content: '\27A4';
    margin: 5px;
    color: black;
} 
.nav__desktop-item:active {
    background-color: white;
    border: 3px solid #cda84f;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
hr {
    margin: 10px 0;
}
/* MAIN - INDEX */
.index-main {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
}
/* Título */
.index-main__encabezado {
    align-items: center;
    justify-self: center;
    display: none;
    grid-template-areas: 
        'img h1'
        'img h2'
    ;
}
.index-main__encabezado img {
    width: 140px;
    height: 140px;
    margin: 0 20px;
    border:3px solid #cda84f;
    border-radius: 100px;
    grid-area: img;

}
.index-main__encabezado h1 {
    color: black;
    font-size: 60px;
    font-family: "Montaga"; 
    text-align: center;
    margin: 10px;
    grid-area: h1;
}
.index-main__encabezado h2 {
    color: #cda84f;
    font-size: 30px; 
    font-family: "LatoRegular";
    text-align: center;
    margin: 10px;
    grid-area: h2;
}
/* Sección_01 */
.index-main__titulos {
    background-color: black;
    border: 3px solid  #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: #cda84f;
    font-size: 30px; 
    font-family: "Montaga";
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
}
.index-main__texto {
    margin: 20px auto;
    padding: 0px 20px;
    color: #cda84f;
    font-size: 15px;
    font-family: "LatoRegular"; 
    text-align: justify;
}
.index-main__enlace {
    display: block;
    background-color: black;
    border: 3px solid  #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);   
    color: #cda84f;
    font-size: 12px;
    font-family: "Montaga";
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    padding: 5px;    
}
.index-main__enlace:hover {
    background-color: #cda84f;
    color: black;
    border: 3px solid black;
}
/* Sección_02 */
.index-main__tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20px;
    align-items: center;
}
.index-main__tarjetas-img {
    width: 75%;
    height: auto;
    margin: 20px auto;
    border: 3px solid  #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}
.index-main__tarjetas-info {
    width: 75%;
    margin: 0 auto;    
}
.index-main__tarjetas-info h1 {
    background-color: #cda84f;
    display: block;
    width: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 15px;
    font-family: "LatoRegular";
    text-align: center;
}
.index-main__tarjetas-info p {
    margin-bottom: 10px;
    color: black;
    font-size: 12px;
    font-family: "LatoRegular"; 
    text-align: justify;
}    
.index-main__tarjetas-info h2 {
    background-color: black;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #cda84f;
    border-radius: 10px;
    color: #cda84f;
    font-size: 12px;
    font-family: "Montaga";
    font-weight: bold;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
/* MAIN - PAGES */
.pages-main {
    display: grid;
    max-width: 1200px;
    margin: 0px auto;
}
/* Título */
.pages-main__encabezado {
    display: none;
    align-items: center;
    justify-self: center;
    gap: 50px;
    grid-template-columns: 0.5fr 2fr;
    margin-bottom: 20px;
    padding: 20px;
}
.pages-main__encabezado img {
    border: solid 2px black;
    border-radius: 100px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    width: 100px;
    height: auto;
}
.pages-main__encabezado h1 {
    color: black;
    font-size: 30px;
    font-family: "Montaga"; 
    text-align: center;
    margin: 10px;
}
/* Título Contacto */
#titulo-contacto {
    display: none;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
#titulo-contacto img {
    border: solid 2px black;
    border-radius: 100px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    width: 100px;
    height: auto;
    margin: 20px;
}
#titulo-contacto h1 {
    color: black;
    font-size: 30px;
    font-family: "Montaga"; 
    text-align: center;
    margin: 10px;
}
/* MAIN - SERVICIOS */
.servicios-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}
.servicios-section__card {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border:3px solid #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.servicios-section__card-titulo {
    background-color: black;
    border: 3px solid #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: #cda84f;
    font-size: 24px;
    font-family: "Montaga";
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
.servicios-section__card-texto {
    padding: 10px;
    color: #cda84f;
    font-size: 18px;
    font-family: "LatoRegular"; 
    text-align: justify;
}
/* MAIN - CONTACTO */
/* Subtítulos */
.contacto__subtitulos {
    background-color: black;
    border: 3px solid #cda84f;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: #cda84f;
    font-size: 24px;
    font-family: "Montaga";
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
/* Columna_01 */
.contacto__formulario {
    font-size: 14px;
    font-family: "LatoRegular";
}
.contacto__formulario label {
    font-weight: bold;
}
.contacto__formulario input {
    background-color: #cda84f;
    border: 3px solid black;
    font-weight: lighter;
}
.contacto__formulario button {
    background-color: #cda84f;
    border: 3px solid black;
    font-weight: bold;
    margin: 5px;
}
/* Columna_02 */
.contacto__section-02 {
    display: flex;
    justify-content: start;
}
.contacto__section-02 img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100px;
}
.contacto__section-02 div {
    background-color: #cda84f;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: black;
    text-align: start;
}
.contacto__section-02 div h1 {
    font-size: 30px;
    font-family: "LatoRegular";
    font-weight: bold;
}
.contacto__section-02 div p {
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1;
    font-size: 14px;
    font-family: "LatoRegular";
    font-weight: bold;
}
.contacto__section-02 div p::first-letter {
    font-size: large;
}
.contacto__section-02 div p span {
    font-size: 18px;
}
/* Columna_03 */
.contacto__section-03 {
    display: flex;
    justify-content: start;
}
.contacto__section-03 img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100px;
}
.contacto__section-03 p {
    background-color: #cda84f;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 14px;
    font-family: "LatoRegular";
    font-weight: bold;
}
.contacto__section-03 p::first-letter {
    font-size: large;
}
.iframe {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
/* FOOTER  */
.parrafo-footer {
    color: black;
    font-size: 11px;
    font-family: "LatoRegular";
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    padding-top: 60px;
}
/* MEDIA QUERY */
@media (min-width: 576px) {
    /* NAV MOBILE */
    /* Logo nav mobile */
    #nav__mobile-logo {
        width: 100px;
        height: auto;
    }
    /* Titulo nav mobile index */
    .nav__mobile div h1 {
        font-size: 30px;
    }
    .nav__mobile div h2 {
        font-size: 25PX;
    }
    /* Titulo nav mobile pages */
    .nav__mobile h1 {
        font-size: 30px;
    }
    /* MAIN INDEX */
    .index-main__texto {
        font-size: 20px;
    }
    /* MAIN SERVICIOS */
    .servicios-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .servicios-section__card {
        width: auto;
    }
}
@media (min-width: 768px) {
    /* NAV MOBILE */
    .nav__mobile {
        display: none;
    }
    /* NAV DESKTOP */
    .nav__desktop {
        display: flex;
    }
    /* MAIN INDEX */
    /* Título */
    .index-main__encabezado {
        display: grid;
    }
    /* Sección-01 */
    .index-main__titulos {
        font-size: 40px;
        width: 75%;
    }
    .index-main__texto {
        font-size: 25px;
    }
    .index-main__enlace {
        font-size: 20px;
    }
    /* Sección-02 */
    .index-main__tarjetas {
        grid-template-columns: 0.5fr 1fr
    }
    .index-main__tarjetas-info h1 {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .index-main__tarjetas-info p {
        margin-bottom: 25px;
        font-size: 20px;
    }
    .index-main__tarjetas-info h2 {
        width: 50%;
        margin-bottom: 25px;
        font-size: 20px;
    }
    /* MAIN PAGES */
    /* Título */
    .pages-main__encabezado {
        display: grid;
    }
    #titulo-contacto {
        display: flex;
    }
    .pages-main__encabezado h1 {
        font-size: 40px;
    }
    #titulo-contacto h1 {
        font-size: 40px;
    }
}
@media (min-width: 992px) {
    /* MAIN PAGES */
    /* Título */
    .pages-main__encabezado h1 {
        font-size: 60px;
    }
    #titulo-contacto h1 {
        font-size: 60px;
    }
    .pages-main__encabezado img {
        width: 150px;
        height: 150px;
    }
    #titulo-contacto img {
        width: 150px;
        height: auto;
    }
    /* MAIN SERVICIOS */
    .servicios-section {
        grid-template-columns: repeat(3, 1fr);
    }
}